@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 禁止滚动条 */
}

/* Body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/05.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

/* Header styling */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color:#fff;
    user-select: none;
}

.social-media {
    margin: 0 auto 0 50px;
    display: flex;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
    transition: .5s;
}

.social-media a:hover {
    background: #fff;
}

.social-media a i {
    font-size: 20px;
    color: #fff;
    transition: .5s;
}

.social-media a:hover i {
    color: #444;
}

/* Navbar styling */
.navbar a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius:  5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after{
    transform-origin:left;
    transform: scaleX(1);
}

.navbar .active::after {
    transform: scaleX(1);
}

/* Contact Section Styling */
.contact-section {
    padding: 80px 0;
    width: 100%;
    max-width:750px; /* 控制主要黑框的最大宽度 */
    margin: 0 auto;
    color: #fff;
}

.contact-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    width: 100%;
}

.contact-container h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    text-align: center;
}

.contact-container p {
    font-size: 1.1em;
    margin-bottom: 25px;
}

/* Input box styling */
#contactForm .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 1em;
    color: #fff;
}

#contactForm label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

/* Move label when focused */
#contactForm input:focus~label,
#contactForm input:valid~label,
#contactForm textarea:focus~label,
#contactForm textarea:valid~label {
    top: -20px;
    color: #aaa;
}

.input-box .icon {
    position: relative;
    margin-right: 10px;
    font-size: 1.5em;
    color: #fff;
}

/* Button styling */
.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}

/* Contact Info styling */
.contact-info {
    margin-top: 30px;
    font-size: 0.9em;
    color: #fff;
    font-weight: 400;
}

.contact-info p {
    margin-bottom: 8px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 10px; /* 让版权信息和底部有一定间距 */
    width: 100%;
    color: #fff;
}



.navbar .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}